Django>=4.2
gunicorn
whitenoise
psycopg[binary]
dj-database-url
django-allauth
django-admin-interface
python-dotenv
Pillow
cloudinary
django-cloudinary-storage
requests
beautifulsoup4
gspread
oauth2client
google-generativeai
google-auth
google-auth-oauthlib