Django>=4.2
psycopg[binary]
dj-database-url
gunicorn
whitenoise
django-allauth
django-admin-interface
python-dotenv
Pillow
Django>=4.2
gunicorn
whitenoise
psycopg[binary]
dj-database-url
django-allauth
django-admin-interface
python-dotenv
Pillow
cloudinary
django-cloudinary-storage
requests   # ✅ add this line
